@use "../../../assets/scss_reusable/functions_mixins.scss" as *;

.shop_product {
  width: 100%;
  padding: rem(25) rem(20);
  h2{
    font-size: rem(30);
    color: var(--text-primary);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: rem(20);
  }
  &_display {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(rem(200), rem(240)));
    gap: rem(20);
    @include media(small){
      grid-template-columns: repeat(auto-fit, minmax(rem(100), rem(130)));
    }
  }
}
