@use "../../../assets/scss_reusable/functions_mixins.scss" as *;

.shop_product {
  width: 100%;
  padding: rem(25) rem(20);
  &_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    & > * {
      min-width: rem(200);
      max-width: rem(250);
      flex: 1 1 rem(200);
      gap: rem(20);
      @include media(medium) {
        min-width: rem(150);
        max-width: rem(200);
      }
      @include media(x-large) {
        min-width: rem(200);
        max-width: rem(250);
      }
    }
  }
}
