@use "../../../assets/scss_reusable/functions_mixins.scss" as *;

.shop_product {
  width: 100%;
  padding: rem(25) rem(20);
  h2{
    font-size: rem(30);
    color: var(--text-primary);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: rem(20);
  }
  &_display {
    display: grid;
    width: 100%;
    max-width: rem(1200);
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(rem(250), rem(300)));
    justify-content: space-between;
    gap: rem(20);
    @include media(small){
        justify-content: center;
    }
  }
}
