@use "../../../assets/scss_reusable/functions_mixins.scss" as *;


.nav_container{
    @include media(medium){
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.575);
        @include flex(start, center);
        padding-top: rem(80);
        z-index: 990;
    }
    .header_navigation{
        @include flex(center, start, rem(20));
        padding-left: rem(40);
        @include media(medium){
            flex-direction: column;
            padding: rem(20);
            background: var(--main-tertiary-light);
            border-radius: rem(10);
            width: 70%;
        }
        @include media(small){
            width: 90%;
        }
        &_links{
            font-size: rem(20);
            font-weight: 600;
            color: var(--text-primary-light);
            &:hover{
                color: var(--main-primary);
            }
        }
        .active{
            color: var(--main-primary);
        }
    }
}