:root {
  /* Orange shades */
  --orange-50:  #fff8f1;
  --orange-100: #fde6d9;
  --orange-200: #fbd0af;
  --orange-300: #f9b985;
  --orange-400: #f79e53;
  --orange-500: #f57c00;
  --orange-600: #dd6800;
  --orange-700: #b95400;
  --orange-800: #935000;
  --orange-900: #7a4400;

  /* Navy blue shades */
  --navy-50:  #f1f3f8;
  --navy-100: #dce0eb;
  --navy-200: #b8bcca;
  --navy-300: #9598a9;
  --navy-400: #707488;
  --navy-500: #4b5071;
  --navy-600: #3f4360;
  --navy-700: #333850;
  --navy-800: #282d40;
  --navy-900: #1f2432;

  /* White/off-white shades */
  --white-50:  #ffffff;
  --white-100: #fcfcfc;
  --white-200: #f7f7f7;
  --white-300: #f2f2f2;
  --white-400: #ededed;
  --white-500: #e8e8e8;
  --white-600: #d9d9d9;
  --white-700: #bfbfbf;
  --white-800: #a6a6a6;
  --white-900: #8c8c8c;


  /* Font sizes */
  --font-xxs: 0.625rem;  /* 10px */
  --font-xs:  0.75rem;   /* 12px */
  --font-sm:  0.875rem;  /* 14px */
  --font-md:  1rem;      /* 16px */
  --font-lg:  1.125rem;  /* 18px */
  --font-xl:  1.25rem;   /* 20px */
  --font-2xl: 1.5rem;    /* 24px */
  --font-3xl: 1.875rem;  /* 30px */
  --font-4xl: 2.25rem;   /* 36px */
  --font-5xl: 3rem;      /* 48px */
  --font-6xl: 3.75rem;   /* 60px */
  --font-7xl: 4.5rem;    /* 72px */
}

@media (prefers-color-scheme: dark) {
  :root{
    --main-primary: var(--orange-600);
    --main-primary-light: var(--orange-500);
    --main-secondary: var(--navy-600);
    --main-secondary-light: var(--navy-500);
    --main-tertiary: var(--white-300);
    --main-tertiary-light: var(--white-200);
    --text-primary: var(--navy-900);
    --text-primary-light: var(--navy-800);
    --text-secondary: var(--white-300);
    --text-secondary-light: var(--white-100);
  }
}
@media (prefers-color-scheme: light) {
  :root{
    --main-primary: var(--orange-300);
    --main-primary-light: var(--orange-400);
    --main-secondary: var(--navy-300);
    --main-secondary-light: var(--navy-200);
    --main-tertiary: var(--navy-900);
    --main-tertiary-light: var(--navy-800);
    --text-primary: var(--white-300);
    --text-primary-light: var(--white-200);
    --text-secondary: var(--navy-800);
    --text-secondary-light: var(--navy-700);
  }
}