@use "../../../assets/scss_reusable/functions_mixins.scss" as *;

.form_page_section {
  @include flex(center, center, rem(20), column);
  margin: auto;
  background: var(--white-100);
  padding: rem(25) rem(20);
  border-radius: rem(5);
  box-shadow: 2px 2px 12px -2px black;
  margin-top: rem(25);
  margin-bottom: rem(25);
  max-width: rem(480);
  h1 {
    font-weight: 700;
    font-size: var(--font-4xl);
    color: var(--navy-700);
  }
  .link {
    color: var(--orange-500);
    font-weight: 600;
    font-size: var(--font-lg);
    &:hover {
      color: var(--orange-600);
    }
  }
  .submit_button {
    @include flex(center, center);
    width: 100%;
    font-size: var(--font-md);
    font-weight: 600;
    padding: rem(10) rem(15);
    background: var(--orange-700);
    color: var(--white-300);
    border-radius: rem(8);
    &:hover {
      background: var(--orange-600);
    }
  }
  .line_seperator {
    color: var(--white-900);
    font-size: var(--font-md);
    font-weight: 600;
  }
  .socials{
    @include flex(center, center, rem(10), column);
    width: 100%;
    button{
        @include flex(center, center, rem(5));
        font-size: var(--font-lg);
        color: var(--navy-700);
        font-weight: 600;
        box-shadow: 1px 1px 5px -1.2px black;
        width: 100%;
        padding: rem(10) rem(15);
        border-radius: rem(5);
        &:hover{
            background: var(--white-400);
        }
        &:active{
            transform: scale(0.95);
        }
    }
  }
}
